# Dependencies
node_modules/
.vercel
dist
.xmcp
xmcp-env.d.ts
.env

# System
.DS_Store
.AppleDouble
.LSOverride

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# Build
dist/
build/
.xmcp/

# Database
*.db
*.sqlite
*.sqlite3
data/*.db

# Documentation
docs/